@model BlueBadge.Models.ArtistDetails

@{
    ViewBag.Title = "Details";
}

    <div class="card text-center" style="color:#076776;">
        <div class="card-header" style="font-size: 1.5em;">
            Artist Details
        </div>
        <div class="card-body">
            <h5 class="card-title">Name:</h5>
            <p class="card-text">@Html.DisplayFor(model => model.ArtistName)</p>

            <h5 class="card-title">Contact Info:</h5>
            <p class="card-text">@Html.DisplayFor(model => model.ArtistContact)</p>

            <h5 class="card-title">Shop:</h5>
            <p class="card-text">@Html.DisplayFor(model => model.Shop.ShopName)</p>

            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.ArtistID }, htmlAttributes: new { @class = "btn btn-info" }) |
                @Html.ActionLink("Back to List", "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-info" })
            </p>
        </div>

    </div>