@model BlueBadge.Models.Post.PostDetail

@{
    ViewBag.Title = "Details";
}

<h2 style="text-align: center;">@Html.DisplayFor(model => model.Title)</h2>
<div class="container" style="background-color:rgba(255, 255, 255, 0.15); border: 5px outset white;">
    <div class="row" style="margin: 1.5em 0 0 0;">

        <div class="col" style="text-align:center;">
            @if (Model.Files.Any(ff => ff.FileType == BlueBadge.Data.FileType.Picture))
            {
                <img src="~/File?id=@Model.Files.First(f => f.FileType == BlueBadge.Data.FileType.Picture).PhotoId" />
            }
            else
            {
                <img src="~/Content/assets/NOPHOTO.jpg" />
            }
        </div>
        <div class="col" style="margin: auto auto; text-align: center;">
            <div style="border: 5px outset white; margin:3em 1em;">
                <h4 style="text-decoration: underline">This tattoo was created by</h4>
                <p>
                    @Html.DisplayFor(model => model.Artist.ArtistName)
                </p>
            </div>
            <div style="border: 5px outset white; margin:auto auto; margin:3em 1em;">
                <h4 style="text-decoration: underline">Details</h4>
                <p>
                    @Html.DisplayFor(model => model.TattooDetails)
                </p>
            </div>
        </div>
    </div>

    <p style="text-align:right;">
        @Html.ActionLink("Edit", "Edit", new { id = Model.PostID }, htmlAttributes: new { @class = "btn btn-light" }) |
        @Html.ActionLink("Back to List", "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-light" })
    </p>
</div>

<style>
    img {
        height: 350px;
        width: 350px;
        -webkit-box-shadow: 16px 16px 10px 0px rgba(39,39,46,1);
        -moz-box-shadow: 16px 16px 10px 0px rgba(39,39,46,1);
        box-shadow: 16px 16px 10px 0px rgba(39,39,46,1);
    }
</style>
