@model IEnumerable<BlueBadge.Models.PostListItem>

@{
    ViewBag.Title = "Index";
}




@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<div class="container" style="text-align:center; border: 5px outset white; background-color:rgba(255, 255, 255, 0.15);">

    <div class="row">
        <div class="col">
            <h2 style="margin: 1em 1em;padding:.5em;">Tattoo Library</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>@Html.ActionLink("Artist Library", "Index", "Artist", routeValues: null, htmlAttributes: new { @class = "btn btn-light" })</p>
        </div>

        <div class="col">
            <p>@Html.ActionLink("Shop Library", "Index", "Shop", routeValues: null, htmlAttributes: new { @class = "btn btn-light" })</p>
        </div>
    </div>

    <div class="row " style="border: solid white; margin: 1em 1em;">
        <div class="col" style="margin: 1em;">
            @foreach (var item in Model)
            {

            <div class="card mb-3" style="max-width:540px; margin: auto auto;">
                <div class="row no-gutters">
                    <div class="col">
                        @if (item.Files.Any(ff => ff.FileType == BlueBadge.Data.FileType.Picture))
                        {
                            <img src="~/File?id=@item.Files.First(f => f.FileType == BlueBadge.Data.FileType.Picture).PhotoId" alt="avatar" class="card-img" />
                        }
                        else
                        {
                            <img src="~/Content/assets/NOPHOTO.jpg" class="card-img" />
                        }
                    </div>
                    <div class="col-md-8">
                        <div class="card-body" style="color: #076776;">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                            <p style="padding:2em 0 0 0;">
                                @Html.ActionLink("Edit", "Edit", new { id = item.PostID }, new { @class = "btn btn-info" }) |
                                @Html.ActionLink("Details", "Details", new { id = item.PostID }, new { @class = "btn btn-info" }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.PostID }, new { @class = "btn btn-info"})
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            }

        </div>
    </div>

</div>

<style>
    img {
        height: 200px; 
    }
   

</style>

