@model IEnumerable<BlueBadge.Models.PostListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Tattoo Archive</h2>


@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}



@foreach (var item in Model)
{
    <ul class="list-unstyled" style="text-align:center;">

        <li class="media">
            @if (item.Files.Any(ff => ff.FileType == BlueBadge.Data.FileType.Picture))
            {
                <img src="~/File?id=@item.Files.First(f => f.FileType == BlueBadge.Data.FileType.Picture).PhotoId" alt="avatar" class="mr-5"/>
            }
            else
            {
                <img src="~/Content/assets/NOPHOTO.jpg" class="mr-5"/>
            }
        <div class="media-body">
            <h5 class="mt-0 mb-1"> @Html.DisplayFor(modelItem => item.Title) </h5>

            @Html.ActionLink("Edit", "Edit", new { id = item.PostID }) |
            @Html.ActionLink("Details", "Details", new { id = item.PostID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PostID })
        </div>
        </li>
      
    </ul>
<hr style="background-color:white;"/>
}

<style>
    img {
        max-height: 15%;
        max-width: 15%;
        -webkit-box-shadow: 16px 16px 10px 0px rgba(39,39,46,1);
        -moz-box-shadow: 16px 16px 10px 0px rgba(39,39,46,1);
        box-shadow: 16px 16px 10px 0px rgba(39,39,46,1);
    }
</style>

