@model BlueBadge.Models.ShopDetails

@{
    ViewBag.Title = "Details";
}

<div class="card text-center" style="color:#076776;">
    <div class="card-header" style="font-size: 1.5em;">
        Shop Details
    </div>
    <div class="card-body">
        <h5 class="card-title">Name:</h5>
        <p class="card-text">@Html.DisplayFor(model => model.ShopName)</p>

        <h5 class="card-title">Contact Info:</h5>
        <p class="card-text">@Html.DisplayFor(model => model.ShopUrl)</p>

        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ShopID }, htmlAttributes: new { @class = "btn btn-info" }) |
            @Html.ActionLink("Back to List", "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-info" })
        </p>
    </div>

</div>




@*<div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ShopName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShopName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ShopUrl)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShopUrl)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ShopID },  htmlAttributes: new { @class = "btn btn-light" }) |
        @Html.ActionLink("Back to List", "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-light" })
    </p>

    <style>
        dt {
            font-size: 2em;
        }

        dd {
            border-bottom: solid white;
        }
    </style>*@